<div class="container-fluid">
  <div class="row bg-secondary align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center ">
        <div class="col-md-6 text-light">
          <h1 class="fs-54">Seja bem-vindo</h1>
          <h5 class="fs-18">expresse aqui seus pensamentos e opinioes :D ! </h5>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md6">
          <button class="btn btn-info mr-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
          <a class="btn btn-outline-secondary ml-1" href="#postagens">Ver Postagens</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center>
<img src="" alt=" Imagem postagens" width="500px" height="500px">
    </div>
  </div>
</div>

<div class="container mb-5 mt-5" id="postagens">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-item nav-link active text-warning font-weight-bold " id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as postagens</a>

      <a class="nav-item nav-link text-danger font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>

      <a class="nav-item nav-link text-success font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por tema</a>

    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">Todas as postangens</div>

    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">Minhas Postagens</div>

    <div class="tab-pane fade" id="postagemTema-tab" role="tabpanel" aria-labelledby="nav-postagemTema-tab">Postagens por tema</div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control" name="" id="titulo" placeholder="Digite o titulo de sua postagem">
        </div>

        <div class="form-group">
          <label for="titulo">Titulo</label>
          <textarea class="form-control" name="texto" id="texto" rows="4"></textarea>
        </div>


        <div class="form-group">
          <label for="titulo">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo tema</a>: </label>
          <select name="tema" id="tema" class="form-control">
            <option value="">Temas</option>
          </select>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Publicar</button>
        </div>
      </div>
    </div>
  </div>