#img-bg {
  background-image: url(../../assets/img/500_F_225084966_hhswkk9GgkAKcr2p1n69aaiI1jETbZO9.jpg);
  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
